.introduction-bg {
  background: #000;

}

.introduction-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  max-width: 1200px;
  gap: 0px 40px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.introduction {
  align-self: end;
  padding-bottom: 80px;
}
.introduction-img {
  max-width: 100%;
  display: block;
}

.title {
  font-size: 64px;
  line-height: 1.125;
  margin-bottom: 32px;
}

.title span {
  color: #fb0;
}

.introduction-text {
  font-size: 1.5rem;
  color: #b2b2b2;
  line-height: 1.5;
  margin-bottom: 24px;
}

.introduction-buttom {
  padding: 16px 32px;
  text-decoration: none;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #320;
  text-transform: uppercase;
  line-height: 1.33;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.125rem;
}

@media (max-width: 550px) {
  .introduction-content {
    grid-template-columns: 1fr;
  }
}