.shops {
  padding: 60px 20px;
  background-color: var(--c-2);
}

.shops-title {
  margin-bottom: 40px;
}

.shops-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  overflow-x: auto;
}

.shop-box {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.shops-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.shops-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px 32px;
  background-color: var(--c-w);
  border-radius: 0 0 4px 4px;
}

.shops-text h3 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.local-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.local1 {
  border-left: 1px solid var(--c-2);
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.local1 a:hover {
  color: var(--c-12);
}

.local {
  padding: 10px;
  /* margin-b@ottom: 10px; */
}

.time {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 860px) {
  .shops-img {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .local-information {
    grid-template-columns: 1fr;
  }
  .local1:nth-child(1) {
    margin-bottom: 20px;
  }
}